<html>
<style>
    #top_bar{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }
    #top_bar li{
        display: inline;
        margin: 0 20px;
    }
</style>
<body>
    <ul id="top_bar">
        <li style="color: beige;">Home</li>
        <li style="color: beige;">YouTube</li>
        <li style="color: beige;">Facebook</li>
        <li style="color: beige;">Instagram</li>
        <li style="color: beige;">Twitter</li>
        <li style="color: beige;">Contact</li>
        <li style="color: beige;">About</li>
    </ul>
</body>
</html>